body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 5px;
    font-size: 2.5em;
}

h2 {
    color: #C71585; /* Малиновый цвет */
    border-bottom: 2px solid #C71585;
    padding-bottom: 5px;
    margin-top: 30px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info a {
    color: #C71585;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu a {
    display: block;
    padding: 10px 20px;
    background-color: #C71585;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
}

.menu a:hover {
    background-color: #a500a0;
}

.section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.print-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #C71585;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
}

.print-button:hover {
    background-color: #a500a0;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
}